.checkbox-container {
  display: flex;
  flex-direction: column;
  height: 325px;
  overflow: auto;
  padding-top: 6%;
  margin: 2%;
  }
  
  .checkbox {
    align-items: center;
    margin-bottom: 5px;
  }
  
  .checkbox input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .object,
  .array {
    margin-left: 15px;
  }
  
  
  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ddd;
    font-weight: bold;
    font-size: 14px;
    color: #555;
  }
  
  .toggle.expanded {
    background-color: #aaa;
    color: #fff;
  }
  
  .labelKey {
    font-weight: 500;
    font-size: 13px;
  }

  .save-button{
    width: 8%;
    position: fixed;
    bottom: 10%;
    right: 10%;
    border: 0;
    background: cadetblue;
    color: white;
    padding: 3px;
    font-size: large;
    border-radius: 2px
  }

  .load-module{
    margin-left: 2%;
    width: 8%;
    left: 19%;
    border: 0;
    background: cadetblue;
    color: white;
    padding: 5px;
    border-radius: 2px;
  }

  .checkbox.matched,
.object.matched,
.array.matched {
  background-color: rgb(214, 214, 68); 
  border: 2px solid #ebd580; 
  border-radius: 5px; 
}

.checkbox.matched label,
.object.matched .headerNet,
.array.matched .headerNet {
  font-weight: bold; 
  color: #333; 
}

.yang-module-loader{
    display: flex;
    position: fixed;
    background: white;
}

.searchFields{
  position: absolute;
    right: 12%;
    top: 38%;
    align-items: stretch;
}
.load_module_button{
  
  margin-left: 11%;
  border-radius: 3px;
  padding: 5px;
  width: 147px;
  margin-top: 2%;
}
.nested{
  margin-left: 1%;
}